<nav class="menu-container align-items-start navbar position-absolute navbar-expand-lg p-0">
  <button class="navbar-toggler fixed-top" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars text-primary-color p-2 rounded" style="font-size: 25px;"></i></span>
  </button>
  <div class="flex-column bg-white collapse navbar-collapse h-100" id="navbarNavDropdown">
    <div class="text-center mt-4 w-100">
      <img class="rounded-circle mb-2" src="../../../assets/persona/persona.png" width="100">
      <p>Maria Santos</p>
      <hr class="border">
    </div>
    <a routerLink="dashboard" routerLinkActive="active" class="nav-link text-gray my-3 mt-5 w-100" href="#"><i class="fas fa-chart-bar mr-2 "></i> <span>Dashboard</span></a>
    <a routerLink="perfil" routerLinkActive="active" class="nav-link text-gray my-3 w-100" href="#"><i class="far fa-user mr-2"></i> <span>Perfil</span></a>
    <a routerLink="conta" routerLinkActive="active" class="nav-link text-gray my-3 w-100" href="#"><i class="far fa-folder mr-2"></i> <span>Contas</span></a>
    <a routerLink="adm" routerLinkActive="active" class="nav-link text-gray my-3 w-100" href="#"><i class="far fa-clipboard mr-2"></i> <span>Administrativo</span></a>
    <a routerLink="configuracoes" routerLinkActive="active" class="nav-link text-gray my-3 w-100" href="#"><i class="fas fa-cog mr-2"></i> <span>Configurações</span></a>
    <div class="text-center mt-auto w-100">
      <a class="nav-link text-gray my-3"><span>Sair</span></a>
    </div>
  </div>
</nav>
