<div class="dash d-flex flex-column-reverse flex-lg-row justify-content-around">
  <div class="d-flex flex-column mt-5">
    <div class="bg-white" style="width: 800px; height: 150px;">
      banner
    </div>
    <div class="bg-white mt-5" style="width: 800px; height: 150px;">
      dashboard
    </div>
  </div>

  <div class="d-flex flex-column mt-5">

    <div class="bg-white p-3 rounded mb-5" *ngFor="let conta of contas">
      <div class="d-flex">
        <div>
          <img src="../../../../../assets/img/bancos/{{conta.banco}}.png" class="mr-3" width="50px">
        </div>
        <div>
          <h5>{{conta.tipoBanco}}</h5>
          <p>{{conta.descricao}}</p>
        </div>
      </div>
      <div>
        <h6 class="text-right mt-3">R$ {{conta.valorInicial}}</h6>
      </div>
    </div>

  </div>
</div>
