<div class="modal-header">
  <h6 class="modal-title pull-left">{{acao }} conta</h6>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div>
      <label for="desc">Descrição</label>
      <input type="text" formControlName="descricao" class="form-control mb-3">
    </div>

    <div>
      <label for="banco">Banco</label>
      <select formControlName="banco" class="form-control" [ngClass]="aplicaCssErro('banco')">
        <option value="" disabled hidden selected></option>
        <option value="brasil">Banco do Brasil</option>
        <option value="nordeste">Banco do Nordeste</option>
        <option value="safra">Banco Safra</option>
        <option value="votorantim">Banco Votorantim</option>
        <option value="banrisul">Banrisul</option>
        <option value="bradesco">Bradesco</option>
        <option value="btg">BTG Pactual</option>
        <option value="caixa">Caixa Econômica Federal</option>
        <option value="citibank">Citibank Brasil</option>
        <option value="itau">Itaú Unibanco</option>
        <option value="santander">Santander</option>
        <option value="sicoob">Sicoob</option>
      </select>
      <div class="invalid-feedback">
        <p>Preenchimento obrigatório</p>
      </div>
    </div>

    <div>
      <label for="tipoBanco" class="mt-3">Tipo de banco</label>
      <select formControlName="tipoBanco" class="form-control" [ngClass]="aplicaCssErro('tipoBanco')">
        <option value="" disabled hidden selected></option>
        <option value="Conta orrente">Conta corrente</option>
        <option value="Conta Salario">Conta salário</option>
        <option value="Poupança">Poupança</option>
      </select>
      <div class="invalid-feedback">
        <p>Preenchimento obrigatório</p>
      </div>
    </div>

    <div>
      <label for="valorInicial" class="mt-3">Valor Inicial</label>
      <input type="text" formControlName="valorInicial" class="form-control" [value]="valorForm" #campoValor oninput="this.value = this.value.replace(/[^0-9,]/g, '').replace(/(\..*)\./g, '$1');" (blur)="converteBrl(campoValor.value)" [ngClass]="aplicaCssErro('valorInicial')">
      <div class="invalid-feedback">
        <p>Preenchimento obrigatório</p>
      </div>
    </div>

    <div class="text-center my-4">
      <button type="submit" *ngIf="acao === 'Criar'" class="btn-primary-color border-0 rounded py-1 px-5">Criar</button>
      <button type="submit" *ngIf="acao === 'Editar'" class="btn-primary-color border-0 rounded py-1 px-5">Editar</button>
    </div>

  </form>
</div>
