<div class="modal-header">
  <h4 class="modal-title pull-left">{{acao }} conta</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <label for="desc">Descrição</label>
    <input type="text" name="desc" class="form-control mb-3">

    <label for="banco">Banco</label>
    <input type="text" name="banco" class="form-control mb-3">

    <label for="tipoBanco">Tipo de banco</label>
    <select name="tipoBanco" class="form-control mb-3">
      <option value="" disabled hidden selected></option>
      <option value="Pounaça">Pounaça</option>
      <option value="Conta corrente">Conta corrente</option>
    </select>

    <label for="valorInicial">Valor Inicial</label>
    <input type="text" name="valorInicial" class="form-control mb-3">

    <div class="text-center my-4">
      <button type="submit" *ngIf="acao === 'Criar'" class="btn-primary-color border-0 rounded py-1 px-5">Criar</button>
      <button type="submit" *ngIf="acao === 'Editar'" class="btn-primary-color border-0 rounded py-1 px-5">Editar</button>
    </div>

  </form>
</div>
