<div class="container">
  <h4 class="text-center text-secondary-color mb-5" style="font-weight: 700;">ASKOUNT</h4>
  <form>
    <label for="inputNome" class="form-label mt-5">Nome</label>
    <input type="text" id="inputNome" class="form-control mb-4" autofocus>

    <label for="inputSobrenome" class="form-label">Sobrenome</label>
    <input type="text" for="inputSobrenome" class="form-control mb-4">

    <label for="inputNascimento" class="form-label">Data de nascimento</label>
    <input type="text" for="inputNascimento" class="form-control mb-4">

    <label for="inputEmail" class="form-label">Email</label>
    <input type="text" for="inputEmail" class="form-control mb-4">

    <label for="inputSenha" class="form-label">Senha</label>
    <input type="password" class="form-control mb-1">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        <p class="text-dark-gray">Estou ciente dos <a href="#">Termos de uso</a> e <a href="#" >Políticas</a></p>
      </label>
    </div>

    <div class="text-center my-3">
      <button type="submit" class="btn btn-primary-color w-75">Entrar</button>
    </div>

    <div class="text-center">
      <p class="text-dark-gray">Já tem uma conta? <a href="#" routerLink="/login">Acesse aqui</a></p>
    </div>
  </form>
</div>
