<div class="container">
  <h4 class="text-center text-secondary-color mb-5" style="font-weight: 700;">ASKOUNT</h4>
  <form>
    <label for="inputEmail" class="form-label mt-5">Email</label>
    <input type="text" class="form-control mb-4" autofocus>

    <label for="inputSenha" class="form-label">Senha</label>
    <input type="password" class="form-control mb-1">

    <div class="text-right mb-5">
      <a href="#" class="text-dark-gray">Esqueci minha senha</a>
    </div>

    <div class="text-center my-3">
      <button type="submit" class="btn btn-primary-color w-75">Entrar</button>
    </div>

    <div class="text-center">
      <p class="text-dark-gray">Não tem conta? <a routerLink="/cadastro">Criar aqui</a></p>
    </div>
  </form>
</div>
